<div class="container">
  <h1>User Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>

  <table>
    <tr>
      <th>Name</th>
      <th>Skill</th>
      <th>Years</th>
      <th>Formal</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% if user.proficiencies.length > 0 %>
          <% user.proficiencies.each do |proficiency| %>
            <td><%= proficiency.skill.name %></td>
            <td><%= proficiency.created_at %></td>
            <td><%= proficiency.formal %></td>
          <% end %>
        <% else %>
          <td>none</td>
          <td>NA</td>
          <td>NA</td>
        <% end %>
      </tr>
    <% end %>

  </table>
</div>
